<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>



    <svg id= "id_block_svg" height=1575 width=900 style="fill:rgb(255,255,255);stroke-width:3;stroke:rgb(0,0,0);margin-top:0px; padding:0px"  >
        <rect width=900 height=1575 />
        <rect  x=0 y=0 width=33 height=1575 style="fill:rgb(222, 223, 224);stroke-width:1;stroke:black" />
        <rect  x=867 y=0 width=33 height=1575 style="fill:rgb(222, 223, 224);stroke-width:1;stroke:black" />
        <rect  x=0 y=0 width=900 height=99 style="fill:rgb(0, 0, 0);stroke-width:1;stroke:black" />
        <rect  x=0 y=1542 width=900 height=33 style="fill:rgb(222, 223, 224);stroke-width:1;stroke:black" />
        <image x= 252 y= 4 width=400px height=40px xlink:href=ImagesLayout/jazz_live_aarau_text_logo.png> <title>JAZZ live AARAU Text Logo</title>  </image>
        <image x= 75 y= 84 width=750px height=150px xlink:href=ImagesLayout/icon_stage.png> <title>Bühne</title>  </image>
    </svg>


</body>
</html>